.countdown {
  position: relative;
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  top: -75px;
  padding: 50px;
  font-family: var(--mainFont);
  color: var(--whiteColor);
  text-align: center;
  background-color: var(--greenColor);
}

@media (min-height: 700px) and (orientation: landscape) {
  .countdown {
    top: -70px;
  }
}

.countdown__header {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
}

.countdownDate,
.countdownLabels {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdownDate__days,
.countdownDate__hours,
.countdownDate__minuts,
.countdownDate__seconds,
.countdownLabels__days,
.countdownLabels__hours,
.countdownLabels__minuts,
.countdownLabels__seconds {
  width: 100px;
  margin: 5px 10px;
}

@media (max-width: 767px) {
  .countdownDate__days,
  .countdownDate__hours,
  .countdownDate__minuts,
  .countdownDate__seconds,
  .countdownLabels__days,
  .countdownLabels__hours,
  .countdownLabels__minuts,
  .countdownLabels__seconds {
    width: 60px;
    margin: 5px 5px;
  }
}

.countdownDate__days,
.countdownDate__hours,
.countdownDate__minuts,
.countdownDate__seconds {
  font-size: 48px;
  font-weight: 800;
}

@media (max-width: 767px) {
  .countdownDate__days,
  .countdownDate__hours,
  .countdownDate__minuts,
  .countdownDate__seconds {
    font-size: 36px;
  }
}

.countdownLabels__days,
.countdownLabels__hours,
.countdownLabels__minuts,
.countdownLabels__seconds {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
