.countdown {
  position: relative;
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  top: -75px;
  padding: 50px;
  font-family: var(--mainFont);
  color: var(--whiteColor);
  text-align: center;
  background-color: var(--greenColor);
}

@media (min-height: 700px) and (orientation: landscape) {
  .countdown {
    top: -70px;
  }
}

@media (max-width: 700px) {
  .countdown {
    padding: 20px;
  }
}

.countdown__header {
  margin: 0 0 20px;
  font-size: 16px;
}

.countdownDateWrapper,
.countdownLabelsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdownDate,
.countdownLabels {
  width: 100px;
  margin: 5px 10px;
}

@media (max-width: 767px) {
  .countdownDate,
  .countdownLabels {
    width: 60px;
    margin: 5px 5px;
  }
}

.countdownDate {
  font-size: 48px;
  font-weight: 800;
}

@media (max-width: 767px) {
  .countdownDate {
    font-size: 32px;
  }
}
.countdownLabels {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
