.hero {
  position: relative;
  min-height: 80vh;
  padding: 60px 20px 0;
  background: url("img/speaker-gary-vee-2c.jpg") center;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 420px) and (max-height: 850px) {
  .hero {
    min-height: 110vh;
  }
}

@media (max-height: 580px) {
  .hero {
    min-height: 100vh;
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(5, 0, 62, 0.7);
}

.hero__header {
  position: relative;
  color: var(--whiteColor);
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-size: 100px;
  line-height: 100px;
  margin-bottom: 0;
  font-weight: 800;
  text-align: center;
}

@media (max-width: 992px) {
  .hero__header--wrap {
    display: block;
  }
}
@media (max-width: 767px) {
  .hero__header {
    font-size: 75px;
    line-height: 90px;
  }
}

.hero__header--after::after {
  content: url(img/las-vegas-red2.svg);
  position: absolute;
  bottom: -38px;
  right: -50px;
  width: 280px;
  filter: drop-shadow(-3px -3px 0px var(--blueColor))
    drop-shadow(3px 3px 0px var(--blueColor));
}

@media (max-width: 992px) {
  .hero__header::after {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hero__header--date,
.hero__paragraphs,
.hero__button {
  position: relative;
  font-family: var(--mainFont);
  font-family: "roboto";
  color: var(--whiteColor);
  text-align: center;
}

.hero__header--10x {
  color: var(--greenColor);
  display: block;
  font-size: 200px;
  line-height: 191px;
}

@media (max-width: 767px) {
  .hero__header--10x {
    font-size: 120px;
    line-height: 80px;
  }
}

.hero__header--date {
  font-size: 24px;
  font-weight: 700;
}
.hero__paragraphs {
  margin: 10px 0;
  font-size: 18px;
}

.hero__button {
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--greenColor);
  color: var(--blueColor);
  font-weight: 700;
  padding: 18px 52px;
  margin-top: 20px;
  margin-bottom: 90px;
  cursor: pointer;
  transition: 0.2s ease-out background-color;
}

.hero__button:hover {
  background-color: hsl(172, 81%, 38%);
}

@media (max-height: 580px) {
  .hero__button {
    margin-bottom: 120px;
  }
}
