.pageHeader {
  position: relative;
  min-height: 110vh;
  background: url(../img/speaker-gary-vee-2c.jpg) center;
  background-size: cover;
}

.pageHeader::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 0, 62, 0.7);
}
