html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
::before,
::after {
  box-sizing: inherit;
}

[ID]::before {
  content: "";
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}
